.wrapper {
  --search-border-radius: 92px;
  --search-height: 46px;
  --search-top-spacer: 9px;
  --search-button-width: 52px;

  width: 100%;
  height: var(--default-layout-header-height);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 1px;
  display: flex;
  justify-content: center;
}

.inner {
  height: 100%;
  width: var(--default-layout-width);
  display: flex;
  align-items: center;
  justify-content: space-between;
  caret-color: var(--primary);
  padding: 0 var(--default-layout-horizontal-spacer);
}

.actions {
  display: flex;
  align-items: center;
}

.action-btn {
  position: relative;
  display: flex;
  align-items: center;
  font-size: 2rem;
  background-color: transparent;
  padding: 4px 12px;
  cursor: pointer;
  color: #161823;
}

.badge {
  position: absolute;
  top: -3px;
  right: -5px;
  padding: 0px 6px;
  height: 2rem;
  line-height: 2rem;
  border-radius: 10px;
  font-size: 1.2rem;
  font-weight: 600;
  color: var(--white);
  font-family: "TikTokFont", system-ui;
  background-color: var(--primary);
}

.more-btn {
  font-size: 2rem;
  margin-left: 28px;
  background-color: transparent;
  padding: 4px 8px;
  cursor: pointer;
}

.user-avatar {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  object-fit: cover;
  margin-left: 14px;
  cursor: pointer;
}
